@use "./base/base";
@use "./base/reset";
@use "./global" as *;

//ヘッダー
.header {
  position: fixed;
  z-index: 1000;
  top:0;
  left: 0;
  height: 75px;
  background-color: transparent;
  width: 100%;
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
  padding-left: 22px;
}

.header__name {
  margin-right: auto;
}

.header__logo {
@include mq("md"){
  width: 132px;
}
}

.header__nav {
  height: inherit;
}

.header__items {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__item {
  height: inherit;
}

.header__item:not(:first-child){
  margin-left: 70px;
}

.header__link {
  font-size: 16px;
  font-weight: $medium;
  display: flex;
  align-items:center;
  justify-content: center;
  height: inherit;
  color: $black;
}

.header__link.header__link--contact {
  padding: 0 24px;
  color: $white;
  background-color: $red;
  transition: 0.3s background-color;
  &:hover{
    opacity: 1;
    background-color: $red2;
  }
}

//ハンバーガーメニュー
.hamburger {
  position: fixed;
  z-index: 9999;
  top: 30px;
  right: 15px;
  width: 25px;
  height: 16px;
  cursor: pointer;
}

.hamburger.is-active {
  top: 32px;
  right: 20px;
}

.hamburger span {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: $black;
  transition: 0.3s transform, 0.3s background-color;
}

.hamburger.is-active span {
  background-color: $white;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 8px;
}

.hamburger span:nth-child(3) {
  top: 16px;
}

.hamburger.is-active span:nth-child(1) {
  top: 15px;
  transform: rotate(-45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  top: 15px;
  transform: rotate(45deg);
}

//ドロワーメニュー
.drawer-menu {
 position: absolute;
 z-index: 5000;
 top: 0;
 left: 0;
 width: 100%;
 height: 100vh;
 background-color: $blue2;
 display: none;
}

.drawer-menu__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
}

.drawer-menu__items {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.drawer-menu__item {
  display: inline-block;
}

.drawer-menu__item:not(:first-child) {
  margin-top: 25px;
}

.drawer-menu__link {
  font-size: 16px;
  font-weight: $medium;
  display: inline-block;
  width: 200px;
  padding-bottom: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  color: $white;
  border-bottom: 1px solid $gray2;
}

.drawer-menu__link.drawer-menu__link--contact {
  padding: 14px 14px;
  transition: 0.3s background-color;
  border:none;
  background-color: $red;
  &:hover {
    opacity: 1;
    background-color: $red2;
  }
}

//mv
.mv {
  width: 100%;
  height: 100vh;
}

.mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.mv__slider,
.swiper-slide picture,
.swiper-slide img {
  height: inherit;
}

.swiper-slide img {
  object-fit: cover;
}

.mv__title-wrap {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
}

.mv__logo {
  width: 244px;
  height: auto;
  margin: 0 auto;
  @include mq("lg") {
    width: 205px;
  }
}

.mv__title {
  font-size: 42px;
  margin-top: 20px;
  text-align: center;
  color: $white;
  @include mq("lg") {
    font-size: 30px;
    line-height: 1.1;
    letter-spacing: 0.05em;
  }
}

.mv__title-large,
.mv__title-strong {
  font-size: 60px;
  @include mq("lg") {
    font-size: 38px;
  }
}

.mv__title-large {
  color: $red;
}

.mv__title-strong {
  color: $green;
}

//About
.about {
  padding: 100px 0;
}

.about__inner {
  display: flex;
  align-items: flex-start;
}

.about__sub-title {
  margin-top: 39px;

  @include mq("md") {
    margin-top: 33px;
  }
}

.about__text {
  margin-top: 34px;

  @include mq("md"){
    margin-top: 30px;
  }
}
.about__img {
  width: 44%;
  margin-left: 30px;
}

//Service
.service {
  padding: 100px 0 100px;
  background-color: $gray;
}

.service__container {
  display: grid;
  justify-content: center;
  margin-top: 52px;

  grid-template-columns: repeat(2,400px);
  grid-template-rows: repeat(2,400px);

  @include mq("lg") {
    grid-template-columns: repeat(2,360px);
    grid-template-rows: repeat(2,360px);
  }
  @include mq("md") {
    grid-template-columns: repeat(1,345px);
    grid-template-rows: repeat(4,345px);

    margin-top: 40px;
  }
}

.service__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $red;
}

.service__item:nth-child(2),
.service__item:nth-child(3) {
  outline: 2px solid $white;
  outline-offset: -7px;
}

.service__item:nth-child(2) {
  @include mq("md") {
    grid-row: 1 / 2;
  }
}

.service__item:nth-child(3) {
  background-color: $green;
}

.service__sub-title {
  text-align: center;
}

.service__text {
  width: 220px;
  margin: 25px auto 0;

  @include mq("lg"){
    width: 293px;
    margin: 30px auto 0;
  }
}

//News
.news {
  padding: 100px 0 166px;
}

.news__cards {
  display:grid;
  margin-top: 52px;

  grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
  column-gap: 35px;
  row-gap: 50px;

  @include mq("md"){
    margin-top: 42px;
    padding: 100px 15px;

    row-gap: 30px;
  }
}

.card {
  box-shadow: 2px 2px 4px rgba($color: $gray2, $alpha: 0.16);
}

.card__img {
  aspect-ratio: 8 / 5;
}

.card__body {
  padding: 16px 16px;
}

.card__date {
  font-family: "Noto sans JP" , serif;
  font-size: 12px;
  letter-spacing: 0.05em;
  font-weight: $medium;
  color: $gray2;
}

.card__text {
  font-family: "Noto sans JP" , serif;
  font-size: 14px;
  line-height: 1.857;
  font-weight: $medium;
  margin-top: 12px;
}


//FAQ
.faq {
  padding-top: 105px;
  background-color: $gray;
}

.faq__title {
  text-transform: uppercase;
}

.faq__accordion {
  width: 100%;
  max-width: 800px;
  margin: 50px auto 0;

  @include mq("md"){
    margin-top: 40px;
  }
}

.accordion {
  width: 100%;
}

.accordion__title {
  position: relative;
  padding: 21px 50px 21px 20px;
  cursor: pointer;
  background-color: $blue;

  @include mq("md"){
    padding: 20px 35px 20px 10px;
  }
}

.accordion__title::before,
.accordion__title::after {
  position: absolute;
  top: 50%;
  right: 21px;
  width: 18px;
  height: 2px;
  content: "";
  background-color: $white;

  @include mq("md"){
    right: 12px;
    width: 16px;
  }
}

.accordion__title::before {
  transform: rotate(90deg);
}

.accordion__title-text {
  font-size: 15px;
  padding-left: 1em;
  text-indent: -1em;
  color: $white;
  @include mq("md"){
    font-size: 14px;
    line-height: 1.857;
  }
}

.accordion__content {
  display: none;
  padding: 21px 20px;

  @include mq("md") {
    padding: 16px 10px 24px;
  }
}

.accordion__title::before,
.accordion__title::after {
  transition: 0.3s transform, 0.3s opacity;
}

.accordion__title.is-open::before {
  transform: rotate(180deg);
}

.accordion__title.is-open::after {
  opacity: 0;
}

.accordion__text {
  font-size: 15px;
  line-height: 1.867;
  padding-left: 1em;
  text-indent: -1em;
  letter-spacing: 0.05em;

  @include mq("md"){
    font-size: 14px;
    line-height: 1.857;
  }
}

.faq__img img {
  margin-top: 90px;

  @include mq("md"){
    margin-top: 100px;
  }
}

//Contact
.contact {
  padding: 100px 0 100px;
}

.contact__inner {
  width: 100%;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;

  @include mq("md"){
    padding-left: 15px;
    padding-right: 15px;
  }
}

.contact__form {
  margin-top: 58px;
}

.form__item:not(:first-child) {
  margin-top: 24px;

  @include mq("md") {
    margin-top: 30px;
  }
}

.form__label-text {
  font-size: 15px;
  font-weight: $medium;

  @include mq("md"){
    font-size: 14px;
  }
}

.form__input {
  margin-top: 8px;

  @include mq("md") {
    margin-top: 6px;
  }
}

.form__input-text,
.form__textarea {
  font-family: "Noto sans JP",serif;
  width: 100%;
  font-size: 15px;
  padding: 10px;
  background-color: $gray;

  @include mq("md"){
    font-size: 14px;
  }
}

.form__input-text::placeholder,
.form__textarea::placeholder {
  opacity: 0.5;
  color: $gray2;
}

.form__textarea {
  height: 171px;
  resize: none;
}

.form__button {
  margin-top: 50px;
  text-align: center;

  @include mq("md"){
    margin-top: 48px;
  }
}

//サンクスページ


//フッター
.footer {
  background-color: $blue2;
  padding:10px;
}



.footer__copyright {
  font-size: 14px;
  display: block;
  text-align: center;
  letter-spacing: 0.05em;
  color: $white;
}



//共通パーツ
.inner {
  width: 100%;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 25px;
  padding-right: 25px;
  @include mq("md") {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.section-title__main {
  font-size: 36px;
  font-weight: $medium;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

.section-title__sub {
  font-size: 12px;
  letter-spacing: 0.05em;
  color: $red;
  margin-top: 3px;
  @include mq("md") {
    font-size: 16px;
  }
}

.section-title--center {
  text-align: center;

  @include mq("md"){
    text-align: left;
  }
}

.text {
  font-size: 15px;
  font-weight: $medium;
  line-height: 1.867;
  letter-spacing: 0.05em;
  @include mq("md") {
    font-size: 14px;
    line-height: 2.143;
  }
}

.text.text--large {
  font-size: 24px;
  line-height: 1.75;

  @include mq("md"){
    font-size: 20px;
    line-height: 1.9;
  }
}

.text.text--reverse {
  color: $white;
}

.button {
  font-size: 20px;
  width: 235px;
  display: inline-block;
  padding: 15px 15px;
  transition: 0.3s background-color,0.3s box-shadow;
  background-color: $red;
  color: $white;
  letter-spacing: 0.05em;
  box-shadow: 2px 2px 4px rgba($color: $gray, $alpha: 0.5);
  &:hover {
    opacity: 1;
    background-color: $red2;
    box-shadow:none;
  }
}

.md-none {
  @include mq("md") {
    display:none;
  }
}
.md-show {
  display: none;

  @include mq("md") {
    display:block;
  }
}
